{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json",
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		// "eslint:recommended",
		// "plugin:@typescript-eslint/recommended",
		// "plugin:@typescript-eslint/recommended-requiring-type-checking",
		// "plugin:prettier/recommended"
	],
	"plugins": [
		// "@typescript-eslint"
	],
	"rules": {
		"max-len": [
			"error",
			80,
			2,
			{
				"ignoreUrls": true,
				"ignoreComments": false,
				"ignoreRegExpLiterals": true,
				"ignoreStrings": true,
				"ignoreTemplateLiterals": true,
				"ignorePattern": "\\s<\\w+>.*<\\/\\w+>$"
			}
		],
		// "@typescript-eslint/explicit-member-accessibility": ["error"]
	}
}
